<footer class="bg-dark text-white-50 py-4 mt-auto">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <p class="mb-0">&copy; 2025 My To-Do App. All rights reserved.</p>
            </div>
            <div class="col-12 col-md-6">
                <a href="#" class="text-white-50 mx-2"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="text-white-50 mx-2"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="text-white-50 mx-2"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>