body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* background-color: #f8f9fa; */
    background-image: url("/assets/backgroundc.jpg");
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center;   
    height: 120vh;                
    margin: 0;                     
    padding: 0; 
}
.navbar {
    border-bottom: 0.5px 5px 4px solid #000000;
    z-index: 500;
}

.list-card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.list-card-link:hover {
    transform: translateY(-5px);
}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary, .btn-outline-primary {
    border-radius: 50px;
}

.btn-outline-primary:hover {
    color: #fff;
}

.form-control {
    border-radius: 0.5rem;
}

.list-group-item {
    border-left: none;
    border-right: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0;
  z-index: 1000;
  height: 10%;
}

